span{
  color: #33d3bd;
}
body{
  margin: 0;
}
.top-container{
  position: relative;
  text-align: center;
  padding-top: 10px;
  font-family: 'Source Serif Pro', serif;
  color: white;
  background-color: #13212e;
  width: 100%;
  height: 15rem;
}
.intro-header1{
  margin: 70px auto 0;
}
.intro-header2{
  margin: 0 auto;
}

.little-top{
  position: relative;
   margin: 0;
   right: 40px;
font-size: 0.8rem;
font-family: 'Montserrat', sans-serif;
  color: #d7d7d9;
}

.fancy-and{
    font-family: 'Niconne', cursive;
    color: #33d3bd;
}
.first, .second, .fourth, .fifth{
    margin: 5% 10% 0;
    display: flex;
    justify-content: space-between;
}
.number{
     top: 340px;
      margin: 0;
      font-size: 15rem;
      color: #f4f5f8;
}
.pitch1{
  margin: 0;
  right: 40px;
position: relative;
  font-weight: 900;
  font-family: 'Source Serif Pro', serif;
  font-size: 2.8rem;
}
.pitch2{
  margin: 0;
    position: relative;
  font-weight: 900;
  font-family: 'Source Serif Pro', serif;
  font-size: 2.8rem;
}
p{
  width: 75%;
   position: relative;
  font-family: 'Montserrat', sans-serif;
}
strong{
  line-height: 1.8;
}
hr{
  border-width: 0.1px 0 0 0 ;
  border-style: solid;
  border-color:#424f5c;
}
img{
  width: 100%;
  height:100%;
  object-fit: contain;
}
img:hover{
  opacity: .8;
  transition: .5s;
  filter: drop-shadow(0 0 0.5rem grey);
}
.pitch-image{
  max-width: 50%;
  object-fit: contain;
}

.review{
  ALIGN-ITEMS: CENTER;
DISPLAY: FLEX;
  padding-left: 5rem;
}
.review1{
  line-height: 1.5;
  margin: 0;
  width: 100%;
}
.review-image{
  margin: 0 auto;
  display: inline-block;
  border-radius: 100%;
  width:50px;
  height: 50px;
}
.review-text-with-img{
  width:50%;
  text-align: center;
}
.designation{
  font-size: 0.6rem;
  font-family: 'Montserrat', sans-serif;
  color: #858282;
  margin: 5px 0;
  width: 100%;
}
.review-name{
  font-size: 0.8rem;
  color: #33d3bd;
  margin: 0;
  width: 100%;
}
.short-gallery{
  margin: 5% 0;
  padding:0 5%;
  display: flex;
}
.third{
  margin: 5% 0;
  padding:0 28%;
}
.fourth .review{
  margin-top:5%;
}
.fourth .image-with-review{
  width: 100%;
}
.fourth .image-with-review {
  text-align: center;
}
.fourth{
  margin: 8%;
}
.fifth{
  padding-left: 8%;
}
.more-teaminfo{
  width: 70%;
  display: flex;
flex-wrap: wrap;
align-content: center;
}
.last-pitch{
  width: 80%;
}
.span-cyan{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #33d3bd;
}
.management{
  display: inline-block;
  width: 5%;
  border-width: 1px;
  border-style: solid;
  border-color: #33d3bd;
}
.management-heading p {
  font-size: 2rem;
  margin: 2%;
  display: inline-block;
}
.management-heading{
  margin: 2% 10% 0;
}
.image-gallery1, .image-gallery2{
    padding: 0 10%;
    display: flex;
    text-align: center;
  }
.imgbx1{
  flex-grow: 1;
    flex-basis: 0;
    margin: 0 5% 0 0;
}
.imgbx2{
  margin: 0 0 0 5%;
    flex-basis: 0;
    flex-grow: 1;
}
.imgbx1 img{
  object-fit: cover;
}
.imgbx2 img{
  object-fit: cover;
}
.image-gallery1{
  margin: 0 0 5%;
}
.imgbx3, .imgbx4, .imgbx5{
  flex-basis: 0;
flex-grow: 1;
}
.image-gallery2 img{
  object-fit: cover;
}
.imgbx4{
    margin: 0 2%;
}
.imgbx3{
  margin: 0 2% 0 0;
}
.imgbx5{
  margin: 0 0 0 2%;
}
.image-gallery2{
  margin-bottom: 4%;
}
.bottom-container{
  background-color: #ededed;
}
svg{
  position: relative;
    left: 8px;
}
.awards{
  padding-bottom: 3%;
  display: grid;
    grid-template-columns: 50% 50%;
  margin: 0 10%;
}
.recog{margin: 5px 10px 0;
  width: 15%;
  display: inline-block;
}
.recognition{
  margin: 2% 0;
}
@media screen and (max-width: 769px) {
  p{
    text-align: center;
    min-width: 100%;
  }
  .first, .second, .third, .fourth, .fifth, .sixth{
      display: flex;
      flex-direction: column;
    }
    .first-content{
      margin:20% 0 5%;
      text-align: center;
    }
    .pitch-image{
      min-width: 100%;
    }
    .review{
      display: flex;
      justify-content: center;
      padding: 0;
      text-align: center;
      min-width: 100%;
    }
    .short-gallery{
      display: flex;
      flex-direction: column;
    }
    .third{
      padding: 0 10%;
    }
    .first{
      margin-top: 0;
    }
    .more-teaminfo{
      text-align: center;
      width: 100%;
    }
    hr{
      margin-left: 50%;
    }
    .image-gallery1{
      margin-top:5%;
    }
    .image-gallery2{
      margin: 8% auto;
    }
    .awards{
      text-align: center;
    }
    .bottom-container hr{
      width: 8%;
      margin: 5% 50%;
    }
}
.footer-content{
  padding: 5px;
  margin: 0;
  color: white;
  width: 100%;
  text-align: center;
}
footer{
  padding: 20px;
  margin: 0;
  background-color: #13212e;
}



            /* LOADER */



  .inner-circle{
    transform: rotate(45deg);
    border-color: #ffba93 #ffba93 transparent transparent;
    border-style: solid;
    border-radius: 5px;
    top: 25px;
    left: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin1 2s linear -1s;
    animation-iteration-count: infinite;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
  }
  .middle-circle{
    transform: rotate(-135deg);
    border-color: #ffba93 #ffba93 transparent transparent;
    border-style: solid;
    border-radius: 5px;
    top: 12.5px;
    left: 12.5px;
    margin: auto;
    animation: spin2 2s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  .outer-circle{
    animation: spin1 2s linear -1s;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
    border-color: #ffba93 #ffba93 transparent transparent;
    border-style: solid;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .loader{
    width: 100%;
    height: 100%;
    background-color: #583d72;
    margin: 0;
  }
  @keyframes spin2 {
    0%{
      transform: rotate(0deg);
    }
     100%{
       transform: rotate(360deg);
     }
  }
  @keyframes spin1 {
    0%{
      transform: rotate(0deg);
    }
     100%{
       transform: rotate(-360deg);
     }
  }
